<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:solr="http://www.springframework.org/schema/data/solr"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/data/solr
    http://www.springframework.org/schema/data/solr/spring-solr.xsd">

    <solr:repositories base-package="com.data.data.solr" multicore-support="true"/>

    <solr:solr-server id="solrServer" url="http://192.168.0.241:8983/solr/,http://192.168.0.241:8983/solr/"/>

    <bean id="solrServerFactory" class="com.data.data.solr.MulticoreFactory">
        <constructor-arg ref="solrServer"/>
        <constructor-arg name="cores">
            <list>
                <value>scenic</value>
                <value>core1</value>
                <value>quicksearch</value>
                <value>products</value>
                <value>scemanager</value>
                <value>ticket</value>
            </list>
        </constructor-arg>
    </bean>

    <bean id="solrTemplate" class="com.data.data.solr.MulticoreSolrTemplate">
        <constructor-arg ref="solrServerFactory"/>
        <property name="solrServerFactory" ref="solrServerFactory"></property>
    </bean>

</beans>